
/.idea/Calendar.iml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/workspace.xml
/.gitignore
/.gitattributes
/Database Structure.xlsx
/~$Database Structure.xlsx

\.buildozer/android/app/_applibs/\.libs_cffi_backend/

\.buildozer/android/app/_applibs/
