
/.idea/Calendar.iml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/workspace.xml
/.gitignore
/.gitattributes
/randomfolderthing/Database Structure.xlsx
/~$Database Structure.xlsx

\.buildozer/android/app/_applibs/\.libs_cffi_backend/

\.buildozer/android/app/_applibs/

\.buildozer/android/app/

\.buildozer/

\.idea/inspectionProfiles/

\.idea/

bin/
/buildozer/
